*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
}
nav{
    height: 9%;
    width: 100%;
    background-color:rgba(190, 93, 166, 0.897);
    color: white;
    display: flex;
    gap: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    text-transform: capitalize;
}
nav img{
   width: 160px;
}
.container{
    height: 75%;
    width: 80%;
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url("https://storage.googleapis.com/pai-images/777c2d4ae7284646a0663c0cbed358ca.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h1{
    font-family: cursive;
    text-transform: capitalize;
    color: white;
    align-items: start;

}
.songlist{
    height: 90%;
    width: 50%;
    display: flex;
  gap: 10px;
    align-items: center;
   /* gap: 10px; */
   margin-top: 20px;
   margin-left: 20px;
    flex-direction: column;
    
    
    
   
}
.songinfo{
    color: rgb(28, 25, 31);
    text-transform: capitalize;
    font-size: 1rem;
}


.bottom{
  
    position: sticky;
    margin-top: 10px;
    background-color:rgba(190, 93, 166, 0.897);
    height: 15%;
    width: 100%;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   flex-direction: column;
  padding-left: 10%;

    
}
.bottom .icon{
    cursor: pointer;
    padding-top: 10px;
    /* color: antiquewhite; */
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
   
}
.icon {
   font-size: 3rem;
    /* width: 50px; */
    color: rgb(28, 25, 31);
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
    /* border-radius: 50%;
    border: 2px solid; */

}

.songitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:8%;
    width: 100%;
    background-color: azure;
    color: black;
    border-radius: 12px;
}
#myprogressbar{
    cursor: pointer;
}
.songitem img{
    width: 30px;
    border-radius: 50%;
   margin-left: 10px;
}
.songitemplay{
    font-size: 1.5rem;
}