*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
}
nav{
    position: sticky;
    height: 9%;
    width: 100%;
    background-color:black;
    color: white;
    display: flex;
    gap: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    text-transform: capitalize;
}
nav img{
   width: 160px;
}
.container{
    height: 75%;
    width: 80%;
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url("https://m.media-amazon.com/images/I/71+LKOWHz2L.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h1{
    font-family: cursive;
    text-transform: capitalize;
    color: white;
    align-items: start;

}
.songlist{
    height: 70%;
    width: 35%;
    display: flex;
  gap: 10px;
    align-items: center;
   /* gap: 10px; */
   margin-top: 20px;
   margin-left: 20px;
    flex-direction: column;
    
    
    
   
}
.songinfo{
    /* color: rgb(28, 25, 31); */
    text-transform: capitalize;
    font-size: 1rem;
}


.bottom{
  color: white;
    position: sticky;
    margin-top: 10px;
    background-color:black;
    height: 15%;
    width: 100%;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   flex-direction: column;
  padding-left: 10%;

    
}
.bottom .icon{
    cursor: pointer;
    padding-top: 10px;
    /* color: antiquewhite; */
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
   
}
.icon {
   font-size: 3rem;
    /* width: 50px; */
    /* color: rgb(28, 25, 31); */
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
    /* border-radius: 50%;
    border: 2px solid; */

}

.songitem{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    text-decoration: dashed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:8%;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
}
#myprogressbar{
    width: 90%;
    cursor: pointer;
}
.songitem img{
    width: 20px;
    border-radius: 50%;
   margin-left: 10px;
}
.songitemplay{
    cursor: pointer;
    font-size: 1.5rem;
}